[Unit]
Description=File Sorter Service
After=network.target

[Service]
Type=simple
User=rek
ExecStart=/home/rek/.venv/bin/python /home/rek/Scripts/1.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
