.notification {
  border-radius: 12px;
  margin: 6px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
}

.notification-content {
  background: rgba(30, 30, 46, 0.95);
  border-radius: 12px;
  padding: 6px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.control-center {
  background: rgba(30, 30, 46, 0.95);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
